body {
			font-family: Arial, Helvetica, sans-serif;
		}
		.title {
			color: #333;
			font-style: normal;
			font-weight: 700;
			letter-spacing: 0.36px;
			font-size: 36px;
			line-height: normal;
		}
		.title-container {
			width: 519px;
		}
		.subtitle-container {
			width: 484px;
		}
		.subtitle-container label {
			color: #828282;
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.16px;
		}
		.app-options {
			width: 395px;
		}
		.app-options .text label {
			color: #828282;
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
			letter-spacing: 0.14px;
		}

		.app-container {
			width: 140px;
			height: 48px;
			flex-shrink: 0;

			border-radius: 4px;
			border: 1px solid rgba(55, 83, 111, 0.40);
			background: #FFF;
			margin-right: 16px;
		}
		.app-container a {
			text-decoration: none;
		}
		.app-text {
			color: #333;
			font-family: Metropolis;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			padding-top: 6px
		}
		.copyright {
			padding-top: 251px;
		}
		.copyright .copyright-text {
			color: #828282;
			font-size: 14px;
			letter-spacing: 0.14px;
		}
		.app-options-text-container {
			margin-top: 169px;
			margin-bottom: 16px;
		}
		@media only screen and (max-width: 700px) {
			.header_logo img{
				width: 200px;
			}
			.title {
				font-size: 18px;
				line-height: 26px; /* 144.444% */
			}
			.title-container {
				width: 342px;
			}
			.subtitle-container {
				width: 342px;
			}
			.subtitle-container label {
				font-size: 14px;
				line-height: normal;
			}
			.social-media .item svg{
				width: 24px;
				height: 24px;
			}
			.app-options {
				width: 342px;
			}
			.app-options-text-container {
				margin-top: 87px;
			}
			.copyright {
				padding-top: 105px;
			}
			.image-container  img {
				width: 351px;
				height: 222px;
			}
		}
